html{
    background-color: rgb(0, 216, 216);
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: cursive;
}

header{
    background-color: rgb(99, 0, 156);
    color: rgb(0, 0, 0);
    border-radius: 12px;
    border-left: 8px solid rgb(0, 0, 0);
}

article{
    background-color: rgb(0, 216, 216);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(99, 0, 156);
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    transition: transform 0.3s ease;
    box-shadow: 0 15px 23px rgba(0, 0, 0, 0.495);
}

section {
    background-color: rgb(99, 0, 156);
    display: grid;
    gap:20px;
    padding:30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-left: 12px solid rgb(0, 0, 0);
    border-radius: 12px;
}

section div {
    display:grid ;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    margin-top:25px ;
    gap:25px ;
}

article:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 23px rgba(0, 0, 0, 0.704);
}

ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap:20px;
}

button{
    background-color:rgb(0, 0, 0);
    color:rgb(255, 255, 255)
}

a{
    text-decoration: none;
    color: rgb(157, 0, 255);
}

audio{
    background-color: rgb(99, 0, 156);
}


